body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
}
h1 {
    color: green;
}

header{
    background-color: blue;
    padding: 40px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 30px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: white;
    color: red;
}
    


